mixin staticmenu(url)
  li
    a(href= url)
      block

mixin dropdown(title, items)
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown') #{title}&nbsp;
      span.caret
    ul.dropdown-menu
      for item in items
        +staticmenu(item.url) #{item.label}

mixin separator()
  li(role='separator').divider

nav.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button(type='button',
             data-toggle='collapse',
             data-target='#navbar',
             aria-expanded='false',
             aria-controls='navbar').navbar-toggle.collapsed
        span.sr-only
          |Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand
        |#{pagetitle}
    div#navbar.navbar-collapse.collapse
      ul.nav.navbar-nav

        +dropdown('Adatok', [ 
                                        { label: 'Ügyfelek', url: '/users'  },
                                        { label: 'Fegyverek', url: '/weapons'  }
                                     ])
        
        +dropdown('Sablonok', [ 
                                        { label: 'Fegyversablonok', url: '/weapon_templates' },
                                        { label: 'Fegyverkategóriák', url: '/weapon_categories' },
                                        { label: 'Jellegek', url: '/weapon_types' },
                                        { label: 'Kaliberjelek', url: '/calibers' }
                                     ])

        +dropdown('Rendszer', [ 
                                        { label: 'Hibabejelentő', url: '/bugs'  },
                                        { label: 'Kilépés', url: '/logout'  }
                                     ])
                                     
